* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.containet {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logoNavBar {
  width: 320px;
}

.header {
  width: 100%;
  min-height: 40px;
  background-color: #292929;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  gap: 8px 15px;
}

.headerButtonGroup {
  display: flex;
  gap: 15px;
}

.navButton {
  font-size: 20px;
  font-weight: 600;
  padding: 6px;
  background-color: transparent;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

.navButton:hover {
  border-bottom: 2px solid black;
}

.sectionTitle {
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  padding-top: 20px;
}

.sectionDescription {
  text-align: center;
  color: #383838;
}

.gridContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "mainContent sidebarContent";
  padding: 20px;
  flex: 1 0 auto;
}

.mainCardImg {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.sidebarCardImg {
  width: 100%;
  border-radius: 10px;
}

.categoryCard {
  width: 280px;
  height: 380px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  grid-area: mainContent;
}

.categoryCard:hover {
  border-color: black;
}

.mainCategoryCardTitle {
  padding: 6px;
  font-weight: 600;
}

.mainCategoryCardDescription {
  padding: 6px;
  text-align: justify;
}


.sidebarContent {
  background-color: #383838;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300PX;
  grid-area: sidebarContent;
  gap: 20px;
  border-radius: 10px;
}

.sidebarTitle {
  font-weight: 900;
}

.sidebarCard {
  width: 75%;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.sidebarCard:hover {
  border-color: gainsboro;
}

.sidebarCardTitle {
  text-align: center;
  padding: 10px;
}

.logoFooter {
  width: 250px;
}

.footer {
  width: 100%;
  min-height: 100px;
  background-color: #292929;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 15px;
}

.footerAnchor {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 630px) {
  .gridContainer {
    grid-template-areas:
      "mainContent"
      "sidebarContent";
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .sidebarContent {
    min-width: auto;
  }
  .footerAnchor {
    font-size: 19px;
  }
}

@media (max-width: 463px) {
  .header {
    justify-content: center;
  }
  .footer {
    justify-content: center;
  }
}